# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
airbot
main
__debug_*

# Test binary, built with `go test -c`
*.test

# macOS
.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# Config
config.toml
.env

# IDEs
.vscode/

# Legacy
config.json
.config.json.swp
